# Godot 4+ specific ignores
.godot/
.import/
.export/
export_presets.cfg

# Plataformas
/android/
/ios/
windows/
macos/
linux/

# Arquivos temporários e de cache
*.tmp
*.log
*.cfg
*.bak
*.old

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Builds exportadas
*.exe
*.apk
*.aab
*.zip
*.pck

# Editor e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
